#chat-screen {
  position: relative;
  background-color: #abc1d1;
}

#chat-screen .status-bar {
  background-color: #abc1d1;
}

#chat-screen .alt-header-column span:last-child {
  margin-left: 20px;
}

#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
  margin-top: 0px;
}

@keyframes fadeInUP {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.main-screen__chatRoom {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__time-stamp {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  color: white;
  padding: 15px;
  align-content: center;
  text-align: center;
  animation: fadeInUP 0.5s linear;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.msg-row {
  width: 100%;
  display: flex;
  margin: 20px 0px;
  animation: fadeInLeft 0.5s linear;
}

.msg-row__content {
  display: flex;
  flex-direction: column;
}

.msg-row__msg-author {
  color: var(--grey);
  font-weight: 600;
  margin-bottom: 0px;
}

.msg-row .user-component__avatar-sm {
  margin-right: 15px;
}

.msg-row__msg-info {
  display: flex;
  align-items: end;
}

.msg-row__msg-bubble {
  background-color: white;
  padding: 12px 15px;
  margin-top: 5px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  font-size: 18px;
  font-weight: 500;
}

.msg-row__msg-time {
  margin-left: 5px;
  color: var(--grey);
  font-size: 13px;
  font-weight: 600;
}

.sender .msg-row__msg-bubble {
  background-color: var(--yellow);
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
}

.sender .msg-row__msg-time {
  margin-left: 0px;
  margin-right: 5px;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.sender {
  justify-content: flex-end;
  animation: fadeInRight 0.5s linear;
}

.sender .msg-row__msg-info {
  flex-direction: row-reverse;
}

.read-or-not {
  color: var(--yellow);
  margin: 0px 5px;
  font-size: 12px;
}

.sender .read-or-not {
  text-align: end;
}

.msg-row__time-n-read {
  display: flex;
  flex-direction: column;
}

.reply-bar {
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  align-items: center;
  padding: 10px 15px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.round-border {
  padding: 5px;
  border: 2px solid var(--grey);
  border-radius: 7px;
  color: var(--grey);
  font-weight: 700;
  text-align: center;
}

.reply-bar__column:first-child {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.reply-bar__column:last-child {
  width: 95%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid var(--grey);
  border-radius: 25px;
  align-items: center;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.smile__img {
  color: var(--grey);
  font-size: 30px;
}

.circle-border {
  width: 30px;
  height: 30px;
  border: none;
  background-color: var(--yellow);
  padding: 5px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  border-radius: 50%;
  color: black;
}

.reply-bar__column input {
  width: 90%;
  border: none;
  height: 30px;
  font-size: 18px;
}

.reply-bar__column button:focus,
.reply-bar__column button:active {
  outline: none;
}

.reply-bar__column input:focus {
  outline: none;
}

.reply-bar .reply-bar__column:first-child,
.reply-bar .smile__img {
  transition: opacity 0.3s ease-in-out;
}

.reply-bar:focus-within .reply-bar__column:first-child,
.reply-bar:focus-within .smile__img {
  opacity: 0;
}

.reply-bar:focus-within .reply-bar__column:last-child {
  transform: translateX(-3%) translateY(-80px) scaleX(1.05);
}

.reply-bar:focus-within {
  transform: translateY(80px);
}

.reply-bar:focus-within {
  transform: translateY(80px);
}
