#freinds-display-link {
  text-align: center;
  width: 100%;
  display: block;
  background-color: #fafafa;
  padding: 20px 0px;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: -10px;
}

#freinds-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

#freinds-display-link :nth-child(1) {
  margin-right: 5px;
}

#freinds-display-link :nth-child(2) {
  margin-left: 15px;
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: 1.5px solid rgba(0, 0, 0, 0.2);
  padding-top: 15px;
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.5);
}
