#freinds-display-link {
  text-align: center;
  width: 100%;
  display: block;
  background-color: #fafafa;
  padding: 20px 0px;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: -10px;
}

#freinds-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

#freinds-display-link :nth-child(1) {
  margin-right: 5px;
}

#freinds-display-link :nth-child(2) {
  margin-left: 15px;
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--default-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.splash-screen {
  background-color: var(--yellow);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  animation: hideSplashScreen 0.5s ease-in-out forwards;
  animation-delay: 1s;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
