.more__error {
  color: tomato;
  margin-left: 5px;
}

.badge__small__talk-drive {
  position: absolute;
  top: -10px;
  right: -8px;
}

.more-screen .icon-row {
  margin: 40px 0px;
  padding-bottom: 40px;
  border-bottom: var(--default-border);
}

.more-screen .icon-row:last-child {
  margin: 40px 0px;
  padding-bottom: 40px;
  border-bottom: none;
}

.more-screen .icon-row__icon img {
  width: 40px;
  height: 40px;
  border-radius: 15%;
  margin-bottom: 15px;
}

.more-suggestions__title {
  color: var(--grey);
  font-weight: 600;
}

.more-suggestions .icon-row {
  display: flex;
  justify-content: left;
}

.more-suggestions__title {
  color: black;
}

.more-suggestions .icon-row__icon {
  margin-right: 40px;
}
