.settings-setting {
  padding: 30px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings-setting i {
  margin-right: 10px;
  font-size: 22px;
  opacity: 0.8;
}

.settings-setting-column:last-child {
  opacity: 0.5;
}

.settings-setting:last-child {
  border: none;
}

.settings-setting-column {
  display: flex;
}

.settings-list:nth-child(2) {
  border-top: var(--default-border);
}

.alt-header-column span:nth-child(2) {
  margin-left: 5px;
}
