.badge {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: tomato;
  color: white;
  font-weight: 600;
}

.badge__small {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: tomato;
}
